:root {
    --primary-color: #FFC1A1; /* Peach */
    --secondary-color: #6F4E37; /* Coffee */
    --light-color: #FFEBD4; /* Almond */
    --dark-color: #3B2F2F; /* Ebony */
    --text-color: #3B2F2F; /* Ebony */
}

/* Apply the Handlee font to all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Handlee', cursive;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-light {
    background-color: var(--light-color);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light-color);
    padding: 3rem 0;
}

.container:first-of-type {
    padding-top: 2rem;
}

main {
    margin: 2rem 0;
}

.footer {
    background-color: var(--secondary-color);
    color: var(--light-color);
}