.navbar {
    background-color: #007bff; /* Custom background color */
    font-family: 'Arial', sans-serif; /* Custom font */
    position: sticky; /* Make navbar sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar-brand, .nav-link {
    color: #fff !important; /* Custom font color */
}

nav.navbar {
    background-color: #ffffff; /* White background color */
    font-family: 'Arial', sans-serif; /* Custom font */
}

nav.navbar a.navbar-brand, nav.navbar a.nav-link {
    color: #3B2F2F !important; /* Custom font color */
}
